@charset "utf-8";
/* CSS Document */
:root {
--font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
              Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

* {
  margin: 0;
}

a.banners:hover {
  color: rgb(172, 172, 172);
  transition-timing-function: ease;
  transition-duration: 0.4s;
}

a.body-links {
  box-shadow:rgba(16, 116, 231, 0.5) 0px 1px 0px 0px;
  text-decoration-line: none;
  color: rgba(16, 116, 231);
}

a.body-links:hover {
  transition-duration: 0.2s;
  transition-timing-function: ease;
  box-shadow:rgba(16, 116, 231) 0px 1px 0px 0px;
}

#Banner-Base {
  position: relative;
  background-color: #24292e !important;
  height: 56px;
  padding: 8px 0px 8px 0px;
}

#Banner {
  font-family: --font-family;
  padding: 0px 16px 0px 16px;
  width: 1248px;
  height: 56px;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

#Logo {
  width: 32px;
  margin: 0px 24px 0px 0px;
  padding: 12px 0px 12px 0px;
  float: left;
  text-align: left;
}

ul#headbanner {
  text-align: left;
  padding: 0px;
  display: inline-block;
  font-size: 0px;
}

ul#headbanner li {
  display: inline-block;
  padding: 16px 0px 16px 0px;
  margin-right: 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.banner-dropdown-menu {
  display: inline-block;
  font-size: 16px;
  color: white;
  font-family: var(--font-family);
  text-decoration: none;
  background-color: inherit;
  border: none;
  padding: 0px;
  cursor: pointer;
}

.dropdown:hover .banner-dropdown-menu{
  color: rgb(172, 172, 172);
}

.dropdown-box {
  display: none;
  position: absolute;
  text-align: left;
  left: -24px;
  background-color: white;
  padding: 24px;
  box-shadow: rgba(27, 31, 35, 0.15) 0px 3px 12px;
  border-radius: 3px;
  width: 252px;
}

.dropdown:hover .dropdown-box {
  display: block;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

.dropdown-content-title {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  text-align: left;
  padding: 8px 0px 8px 0px;
  color: rgb(36, 41, 46);
  display: block;
  text-decoration: none;
}

.dropdown-content-title-divident {
  padding: 24px 0px 8px 0px;
  border-top-color: rgb(225, 228, 232);
  border-top-style: solid;
  border-top-width: 1px;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  text-align: left;
  color: rgb(36, 41, 46);
  display: block;
  text-decoration: none;
}

.dropdown-content-subtitle-divident {
  padding: 16px 0px 0px 0px;
  margin-bottom: 8px;
  border-top-color: rgb(225, 228, 232);
  border-top-style: solid;
  border-top-width: 1px;
  font-family: SFMono-Regular, Consolas,'Liberation Mono', Menlo, monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: rgb(106, 115, 125);
  display: block;
  text-decoration: none;
}

.dropdown-content-title-divident:hover, .dropdown-content-title:hover {
  color: #0366d6;
  transition-timing-function: ease;
  transition-duration: 0.4s;
}

.dropdown-menu-arrow {
  float: right;
  color: rgb(106, 115, 125);
  display: none;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.dropdown-content-title-divident:hover .dropdown-menu-arrow, .dropdown-content-title:hover .dropdown-menu-arrow{
  display: block;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

ul#dropdown-contents-bottom {
  text-align: left;
  padding: 0px 0px 0px 0px;
}

ul#dropdown-contents {
  text-align: left;
  padding: 0px 0px 16px 0px;
}

ul#dropdown-contents li,  ul#dropdown-contents-bottom li{
  display: block;
  text-align: left;
  padding: 8px 0px 8px 0px;
}

ul#dropdown-contents li a, ul#dropdown-contents-bottom li a{
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 14px;
  color: rgb(88, 96, 105);
  text-decoration: none;
  font-weight: lighter;
}

ul#dropdown-contents li a:hover,  ul#dropdown-contents-bottom li a:hover{
  color: #0366d6;
  transition-timing-function: ease;
  transition-duration: 0.4s;
}

.Dropdown-Menu-Icon {
  vertical-align: middle;
  width: 16px;
}

.Banner-Text-Right {
  display: inline-block;
  font-size: 16px;
  color: white;
  font-family: var(--font-family);
  font-weight: lighter;
  text-decoration: none;
  margin-right: 16px;
}

.Banner-Text-Left {
  display: inline-block;
  font-size: 16px;
  color: white;
  font-family: var(--font-family);
  font-weight: lighter;
  text-decoration: none;
}

.Banner-Section-Left {
  float: left; 
  font-size: 0px;
}

.Banner-Section-Right {
  float: right; 
  font-size: 0px;
}

.Sign-up-Text {
  display: inline-block;
  font-size: 16px;
  height: 24px;
  color: white;
  font-family: var(--font-family);
  font-weight: lighter;
  text-decoration: none;
  border-radius: 3px;
  border-width: thin;
  border-color: #d1d5da;
  border-style: solid;
  padding: 6px 8px 2px 8px;
}

input#search-git-hub {
  text-align: left;
  padding: 8px 8px 8px 8px;
  margin: 10px 0px 10px 0px;
  margin-right: 16px;
  background-color: rgb(63, 68, 72);
  border: none;
  width: 224px;
  height: 20px;
  margin-right: 16px;
  border-radius: 3px;
  font-weight: 450;
  font-size: 14px;
  font-family: var(--font-family);
  background-image: url("https://github.githubassets.com/images/search-key-slash.svg");
  background-repeat: no-repeat;
  background-position: 97% 50%;
}

input#search-git-hub:focus {
  background: transparent;
  background-color: white;
}

* {
  text-align: center;
}

.table {
  border-collapse: collapse;
  margin-bottom: 24px;
  margin: auto;
}


.table, td, th {
  border-color:#e1e4e8;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  width: 980px;
  box-shadow: 0 1px 1px rgba(27,31,35,.1);
}

.table-text-padding {
  padding: 40px 0px 40px 0px;
}

.table-text-l1 {
  display: block!important;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  color: #24292e;
}


.table-text-l2 {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace!important;
  font-size: 14px;
  font-weight: 50;
  line-height: 1.5;
  color: #586069;
}

.text-below-table {
  margin-bottom: 40px!important;
  margin-top: 30px;
  font-size: 12px!important;
  font-family: var(--font-family);
  color: #6a737d!important;
}

.text-learn-more {
  margin-bottom: 40px!important;
  color: #586069!important;
  margin-top: 0;
  font-size: 16px!important;
  font-family: var(--font-family);
  line-height: 1.5;
}

.hr {
  margin-bottom: 48px!important;
  margin-top: 48px!important;
  border-bottom-color: #eee;
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
  unicode-bidi: isolate;
  width: 980px;
  margin: auto;
}

.supportingacommunity {
  font-family: Inter;
  font-size: 20px; 
  font-weight:400;
  color: #586069;
  text-align: center;
  line-height: 30px;
  margin-top: 24px;
  margin-bottom: 64px;
  }

.howpeoplebuildsoftware {
  text-align: center;
  font-family: var(--font-family);
  padding-top: 80px;
  color: #24292e;
  font-size: 48px; 
  font-weight:300;
}

a.followTwitter {
  color: #1074e7;
  border: 1px;
  border-style: solid;
  border-color: rgba(16, 116, 231, .5);
  border-radius: 3px;
  font-size: 14px;
  display: inline-block;
  padding: 16px 24px 16px 24px;
  font-family: var(--font-family);
  font-weight: 500;
  text-decoration: none;
}

a.followTwitter:hover {
  color: #1074e7;
  border: 1px;
  border-style: solid;
  border-color: rgba(16, 116, 231);
  border-radius: 3px;
  font-size: 14px;
  display: inline-block;
  padding: 16px 24px 16px 24px;
  font-family: var(--font-family);
  font-weight: 500;
  text-decoration: none;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.Twitter-Logo {
 vertical-align: middle; 
 width: 32px;
 height: 32px;
}

footer{
  display: gird;
  justify-content: center;
  margin-top: 152px;
  grid-template-columns: repeat(auto-fill,100%);
}

footer a:hover{
  text-decoration:underline;
  color:rgb(3,102,214);
}

.footer-logo-img{
  margin-left: 16px;
  margin-right: 329.15px;
  margin-bottom: 208px;
  width: 84px;
}

.footer-content-li{
  margin-bottom: 16px;
  line-height:1.25;
  text-align:left
}

.footer-content-h2{
  font-family: monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 16px;
  margin-top: 0px;
  overflow-wrap: break-word;
  color:rgb(106, 115, 125);
  text-align: left;
}

.footer-content-url{
  text-decoration: none;
  font-family: sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, Apple Color Emoji, Segoe UI Emoji;
  font-size: 14px;
  font-weight: 400;
  color: rgb(88, 96, 105);
  line-height: 17.5px;
}

.footer-content-ul{
  padding-left: 0px !important;
  width: 208px;
  height: 238px;
  list-style-type: none;
  display: inline-block;
}

.footer-bottom{
  width: 100%;
  list-style-type: none;
  display: flex;
  background:rgb(250,251,252);
  text-align: left;
  height: 68px;
  justify-content: space-between;
  margin-top: 64px;
}
.footer-bottom-ul{
  list-style-type: none;
  display: flex;
  margin-left: 0;
}
.footer-bottom-url{
  text-decoration: none;
  font-family: sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, Apple Color Emoji, Segoe UI Emoji;
  font-size: 12px;
  font-weight: 400;
  color: rgb(88, 96, 105);
  line-height: 18px;
}

.footer-bottom-li{
  margin-right: 16px;
  line-height:18px;
  display: inline;
  padding-top: 24px;
}

.footer-bottom-logo-ul{
  list-style-type: none;
  text-align: left;
  display: flex;
  padding-top: 24px;
  margin-right: 0;
}

.footer-bottom-logo-li{
  display: inline;
  margin-right: 16px;
}

.footer-bottom-logo-img{
  height: 18px;
}

.Box{
  margin:auto;
  color:rgb(36,41,46);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 16px;
  line-height: 24px;
  width: 1012px;
  padding-left: 16px;
  padding-right: 16px;
  text-size-adjust: 100%;
}

.Line{
  border: 0px;
}

.Element{
  vertical-align: top;
  width: 442px;
  padding:0px 24px 0px 24px;
  border:0px;
  box-shadow: 0 0 0 0px;
}

.ul-in-element{
  padding: 0px;
  margin: 0px;
}

.a-in-element{
  height: 30px;
  line-height: 24px;
  text-decoration-line: none;
}

.h3-in-element{
  line-height:1.5;
  color: rgb(3,102,214);
  font-family: Inter;
  font-size: 20px;
  font-weight:500;
  text-align: left;
  margin: 0px;
}

.h3-in-element:hover span{
  opacity:1;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}


.h3-in-element span{
  line-height:1.5;
  font:Inter;
  font-weight:500;
  font-size:20px;
  transform: matrix(1,0,0,1,0,0);
  opacity:0;
}

.p-in-element {
  color:rgb(88,96,105);
  text-align: left;
  font-family: Sergoe UI;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0px;
  margin-bottom: 10px;
  text-size-adjust: 100%;
}
